#{extends 'main.html' /} #{set title:'Aparelhos: Gerenciamento - SIARC:
Sistema de Automação de Ar Condicionados' /}
<h3>Terminal de Aparelhos</h3>
<br />
<br>
<div class="container-fluid">
	<div class="card border-primary mb-3" style="max-width: 25rem;">
		<div class="card-header">#1</div>
		<div class="card-body text-secondary">
			<h5 class="card-title">Aparelhos</h5>
			<p class="card-text">Aqui você pode verificar todos os aparelhos
				cadastrados.</p>
			<div class="text-center">
				<a href="@{Aparelhos.listar}" class="btn btn-primary">Mostre-me</a>
			</div>
		</div>
	</div>

	<div class="card border-primary mb-3" style="max-width: 25rem;">
		<div class="card-header">#2</div>
		<div class="card-body text-primary">
			<h5 class="card-title">Aparelhos ativos</h5>
			<p class="card-text">Aqui você pode verificar todos os aparelhos
				que estão ativos no momento.</p>
			<div class="text-center">
				<a href="#" class="btn btn-primary">Mostre-me</a>
			</div>
		</div>
	</div>

	<div class="card border-primary mb-3" style="max-width: 25rem;">
		<div class="card-header">#3</div>
		<div class="card-body text-primary">
			<h5 class="card-title">Adicionar novo</h5>
			<p class="card-text">Aqui você pode adicionar um novo apraelho ao
				sistema.</p>
			<div class="text-center">
				<a href="@{Aparelhos.form}" class="btn btn-primary">Entrar</a>
			</div>
		</div>
	</div>

	<div class="card border-primary mb-3" style="max-width: 25rem;">
		<div class="card-header">#4</div>
		<div class="card-body text-primary">
			<h5 class="card-title">Pesquisar</h5>
			<p class="card-text">Aqui você pode pesquisar por um determinado
				aparelho.</p>
			<div class="text-center">
				<a href="#" class="btn btn-primary">Entrar</a>
			</div>
		</div>
	</div>
</div>